div >*{
  display: flex; 
  justify-content: center;
  height: 95vh;
  width: 95vw;
  padding: 0 0;
}

main{
  border: 2px solid red;
}

nav{
  border: 2px solid blue;
  width: 25vw;
  height: 95vh;
}